* {
    font-family: 'Lato', sans-serif;
}
.main-container {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;

}
.left, .right {
    display: flow;
    padding: 1rem;
    box-sizing: unset;
}

.left {
    margin-left: 1rem;
    border: 4rem solid var(--bg-color);
}
.right {
    padding-left: 20px;
    text-align: center;
}

.popup {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
/*    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
}

.popup-content {
    background-color: var(--bg-colorPP);
    margin: 30% 7%;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

:root {
    --bg-color: #574747;
    --bg-colorPP: #574747a4;
    --bg-color1: #ffffff;
    --text-color: #77ecc5;
    --text-color1: #000000;
    font-size: 18px;
}  
.header{
    color: var(--text-color);
    margin-bottom: 3rem;
    font-size: 2rem;
    padding: 10px;
    text-align: center;
}

.hora-size{
    font-size: 170px;
    font-weight: bold;
}
.handleSetTime{
    padding: 10px 10px;
    border: none;
    background-color: var(--text-color);
    max-width: 200px;
    margin: 0px auto;
    border-radius: 3px;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
}

p {
    margin-bottom: 0.75rem;
    line-height: 1.2rem;
}

.search-form {
    margin: 20px 20px;
}

.searchbox {
    padding: 10px 10px;
    background-color: var(--text-color);
    max-width: 200px;
    margin: 0px auto;
    border-radius: 3px;
}

.search {
    width: 100%;
    background-color: var(--text-color);
    border: none;
    font-size: 1rem;
}

.search:focus {
    outline: none;
}

.weather-card {
    margin: 40px auto;
    max-width: 320px;
    background: none;
    color: var(--bg-color1);
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    display: none; 
}

.city {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.temp-img {
    display: flex;
    align-items: center;
    align-content: center;
    width:35px;
    margin-right: 0.5rem;
}

.temperature {
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
    flex-wrap: nowrap;
}

.humidityImg{
    margin-left: 3rem;
    margin-right: 0.3rem;
    width: 10px;
    height: 10px;
}
.humidity{
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.infoWeather{
display: flex;
align-items: center;
justify-content: center;
font-size: 1.1rem;
margin-bottom: 0.4rem;
margin-top: 0.1rem;

}

.temp {
    font-size: 1.4rem;
}

.feels-like{
    margin-right: 3.3rem;
    font-size:  0.8rem;
    margin-bottom: 0.5rem;
}