*{
    font-family: 'Lato', sans-serif;
}

:root {
    --bg-color: rgb(106, 125, 142);
    --bg-colorPP: rgb(99, 152, 177);
    --text-color: rgb(9, 46, 71);
    
    font-size: 18px;
}  
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;

}

/*----------------------------------------------PANTALLA PRINCIPAL----------------------------------*/
body { /*--------------------COLOR DE FONDO*/
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/56/a0/5c/56a05ce54b5b652f2014af2c22f06415.jpg ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p { /*-----------------------CONTENEDORES EN GENERAL*/
    
    font-weight: bold;
    text-align: center;
    margin: none;
}

.header{ /* -----------------TEXTO "PROYECTO DE SISTEMAS"*/
    color:  var(--bg-colorPP);
    margin-bottom: 1.8rem;
    font-size: 2.4rem;
    padding: 10px;
    text-align: center;
}



.fecha-size{ /*DISPLAY FECHA*/
    text-align: center;
    padding: 0;
    font-size: 27px;
    margin-bottom: 2rem;

}
.popup{
    align-items: center;
}
.button-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-Stop{
    margin-top: 0.4rem;
    padding: 0.8rem 4rem;
    background-color: rgb(150, 0, 0);
    border: none;
    margin-top: 0;
    margin-bottom: 0.2rem;
}

h3 { /* ---------------------Texto "Clima" */
    font-size: 2rem;   /* Cambia el tamaño de la fuente */
    color: #000000;    /* Cambia el color del texto */
    font-weight: bold; /* Aplica negrita */
    margin-top: 20px;  /* Ajusta el margen superior */
    margin-bottom: 10px; /* Ajusta el margen inferior */
    text-align: center;  /* Centra el texto horizontalmente */
}


/*------------------------------------------------POPUP-------------------------------------------*/

.button-Alarm{ /*------------OBJETO PARA SELECCIONAR LA HORA DE ALARMA*/
    border: none;
    background-color: var(--text-color);
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.8rem 4.36rem;
}


.search-form { /*-------------BUSCADOR DE CIUDAD*/ 
    margin: 5px 10px;
    text-align: center;
}
.searchbox { /*BORDES DEL CONTENEDOR*/
    padding: 10px 10px;
    background-color:  var(--text-color);
    max-width: 200px;
    margin: 0px auto;
    border-radius: 3px;
}

.search { /*RENGLON DONDE SE ESCRIBE*/
    width: 100%;
    background-color: var(--text-color);
    border: none;
    font-size: 1rem;
}

.search:focus {
    outline: none;
}



.weather-card {
    margin: 40px auto;
    max-width: 320px;
    background: none;
    color: var(--text-color);
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    display: none; 
}

.city {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.temp-img {
    display: flex;
    align-items: center;
    align-content: center;
    width:35px;
    margin-right: 0.5rem;
}

.temperature {
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2rem;
    flex-wrap: nowrap;
}

.humidityImg{
    margin-left: 3rem;
    margin-right: 0.3rem;
    width: 10px;
    height: 10px;
}
.humidity{
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.infoWeather{
display: flex;
align-items: center;
justify-content: center;
font-size: 1.1rem;
margin-bottom: 0.4rem;
margin-top: 0.1rem;

}

.temp {
    font-size: 1.4rem;
}

.feels-like{
    margin-right: 3.3rem;
    font-size:  0.8rem;
    margin-bottom: 0.5rem;
}

.popup {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0rem;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #00000052;
}

.popup-content {
    background-color: var(--bg-colorPP);
    margin: 30% 7%;
    padding: 20px;
    border: none;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    text-align: center;
}
.hora-size{ /*---------------DISPLAY HORA---------NO MOVER*/
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    width: auto;
    margin-bottom: 0;
}

.set{
    padding: 0.5rem 1rem;
    background-color: var(--text-color);
    border-radius: 5px;
    border-color: #000000;
}
.handleSetTime{
    background-color: var(--text-color);
    padding: 0.5rem 2rem;
    border: none;
}